<div id="dietrestrictstep" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
    <h3 class="stepTitle" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">Your Food
    </h3>
    <mat-card class="steps-card" fxFlex="45" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center">
        <mat-card-title>Do you have any dietary restrictions?</mat-card-title>                
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center" class="loginbtn">
            <button mat-button matStepperNext (click)="dietrestrictSubmit()">NEXT</button>
        </div>
    </mat-card>
