<div id="bodymeasurestep" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center"> 
    <h3 class="stepTitle" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">BODY MEASUREMENTS
      <span class="stepTitlerequired" (click)="skipTonext()">Skip</span>
    </h3>
    <mat-card class="steps-card" fxFlex="35" fxLayout="row wrap" fxLayoutAlign="center">        
      <mat-card-title fxFlex="100" >Record your measurements</mat-card-title> 
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
        <span>In</span>
        <mat-slide-toggle (change) = "onChangeMeasurement($event)" [checked]="togglechecked"
        ></mat-slide-toggle><span>cm</span>
      </div>      
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
            <form [formGroup]="bodymeasureForm">
                <div fxFlex="100" fxLayout="row wrap">
                    <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="5%" class="inputfield" fxLayoutAlign="center">
                        <mat-form-field fxFlex="45" appearance="outline">
                            <input matInput placeholder="chest" formControlName="chest">
                        </mat-form-field>
                        <mat-form-field fxFlex="45" appearance="outline">
                            <input matInput placeholder="waist" formControlName="waist">
                        </mat-form-field>
                    </div>   
                    <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="5%" class="inputfield" fxLayoutAlign="center">
                        <mat-form-field fxFlex="45" appearance="outline">
                            <input matInput placeholder="hips" formControlName="hips">
                        </mat-form-field>
                        <mat-form-field fxFlex="45" appearance="outline">
                            <input matInput placeholder="thigh" formControlName="thigh">
                        </mat-form-field>
                    </div>   
                    <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="5%" class="inputfield" fxLayoutAlign="center">
                        <mat-form-field fxFlex="45" appearance="outline">
                            <input matInput placeholder="calf" formControlName="calf">
                        </mat-form-field>
                        <mat-form-field fxFlex="45" appearance="outline">
                            <input matInput placeholder="bicep (flex)" formControlName="bicep">
                        </mat-form-field>
                    </div>              
                    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center" class="loginbtn">
                        <button mat-button (click)="bodyMeasureSubmit()">NEXT</button>      
                      </div>
                </div>
            </form>
        </div>    
    </mat-card>
  </div>
  