<div id="weightselectionstep" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center"> 
    <h3 class="stepTitle" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">Weight
      <span class="stepTitlerequired">*required</span>
    </h3>
    <mat-card class="steps-card" fxFlex="25" fxLayout="row wrap" fxLayoutAlign="center">        
      <mat-card-title>Time for the sensitive stuff</mat-card-title>       
      <mat-card-subtitle>	How about your weigh?</mat-card-subtitle>	    
       <mat-form-field appearance="outline">        
        <mat-select [(ngModel)]="selectedValue" name="weight">
            <mat-option *ngFor="let weight of weights" [value]="weight.weight">
              {{weight.weight}}
            </mat-option>
          </mat-select> 
      </mat-form-field>  
    <p><mat-icon>help_outline</mat-icon> why we ask this</p>  
    <!-- <app-fybrbuttons mat-button matStepperNext [buttonConfig]="loginBtnConfig" (loginBtnClickEmt)="onClickEventReceived($event)">
    </app-fybrbuttons>  -->
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center" class="loginbtn">
      <button mat-button matStepperNext>NEXT</button>
    </div>
    </mat-card>
  </div>
  