<div id="youfoodstep" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
    <h3 class="stepTitle" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">Your Food
    </h3>
    <mat-card class="steps-card" fxFlex="45" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center">
        <mat-card-title>Assuming life doesn't get in the way, which meals will you eat each day?</mat-card-title>        
        <form [formGroup]="foodSelectForm">
        <div fxFlex="100" fxLayout="row wrap" class="activitiesstrength">            
            <div fxFlex="100" fxLayoutGap="2%" fxLayout="row wrap">            
            <div fxFlex="48" fxLayout="row wrap" fxLayoutAlign="start center" *ngFor="let activeRecipe of allActiveRecipe; let i = index;">
                <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">                    
                <div fxFlex="30" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="start center">
                    <label>
                        <mat-checkbox (change)="foodSelect($event,activeRecipe.id, index)" #bw1 [value]="activeRecipe.id" formControlName="foodOptions"></mat-checkbox>
                        <span *ngIf="bw1.checked else bw1notcheck">
                            <img src="../../../../assets/{{activeRecipe.selectedIcon}}">                        
                        </span>
                        <ng-template #bw1notcheck>
                            <span>
                                <img src="../../../../assets/{{activeRecipe.unselectedIcon}}">
                            </span>
                        </ng-template>
                    </label>                                       
                </div>
                <p fxFlex="45" fxLayout="row wrap">{{activeRecipe.name}}</p>
                </mat-card>
            </div>            
           </div>           
        </div>
        </form>        
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center" class="loginbtn">
            <button mat-button (click)="yourFoodSubmit()">NEXT</button>
        </div>
    </mat-card>
</div>