<div id="heightselectionstep" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center"> 
    <h3 class="stepTitle" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">Height
      <span class="stepTitlerequired">*required</span>
    </h3>
    <form [formGroup]="heightForm"  fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
    <mat-card class="steps-card" fxFlex="25" fxLayout="row wrap" fxLayoutAlign="center">        
      <mat-card-title>How about your height?</mat-card-title>       
       <mat-form-field appearance="outline">        
        <mat-select [(ngModel)]="selectedValue" formControlName="heightoptions">
            <mat-option *ngFor="let height of heights" [value]="height.height">
              {{height.height}}
            </mat-option>
       </mat-select> 
      </mat-form-field>  
    <p><mat-icon>help_outline</mat-icon> why we ask this</p>  
    <!-- <app-fybrbuttons mat-button matStepperNext [buttonConfig]="loginBtnConfig" (loginBtnClickEmt)="onClickEventReceived($event)">
    </app-fybrbuttons>  -->
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center" class="loginbtn">
      <button mat-button (click)="heightSubmit()">NEXT</button>
    </div>
    </mat-card>
    </form>
  </div>
  