<div id="welcomestep" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center"> 
  <h3 class="stepTitle" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">Welcome
    <span class="stepTitlerequired">*required</span>
  </h3>
  <form [formGroup]="welcomeForm" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">   
  <mat-card class="steps-card" fxFlex="25" fxLayout="row wrap" fxLayoutAlign="center">        
    <mat-card-title>Great to meet you!</mat-card-title>
    <p>We want to get to know you better. The more questions you answer the more tailored we can make your experience.</p>
    <p>Short on Time? Fear not, new friend! After a few key questions you can dive straight into your plan and more details later.</p>
    <h3>First up, what should <br/>we call you?</h3>
    <mat-form-field appearance="outline">
      <input matInput placeholder="first name" formControlName="firstName">
   </mat-form-field>     
  <p class="helptext"><mat-icon>help_outline</mat-icon> why we ask this</p>  
  <!-- <app-fybrbuttons mat-button matStepperNext [buttonConfig]="loginBtnConfig" (loginBtnClickEmt)="onClickEventReceived($event)">
  </app-fybrbuttons>  -->
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center" class="loginbtn">
    <button mat-button [disabled]="welcomeForm.invalid" (click)="welcomeSubmit(stepper)">LET'S DO THIS</button>
  </div>
  </mat-card>
</form>
</div>
