<div id="ageselectionstep" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center"> 
    <h3 class="stepTitle" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">Age
      <span class="stepTitlerequired">*required</span>
    </h3>
    <mat-card class="steps-card" fxFlex="25" fxLayout="row wrap" fxLayoutAlign="center">        
      <mat-card-title>What year were you born?</mat-card-title>       
       <mat-form-field appearance="outline">        
        <mat-select [(ngModel)]="selectedValue" name="year">
            <mat-option *ngFor="let year of years" [value]="year.year">
              {{year.year}}
            </mat-option>
          </mat-select> 
      </mat-form-field>  
    <p><mat-icon>help_outline</mat-icon> why we ask this</p>  
    <!-- <app-fybrbuttons mat-button matStepperNext [buttonConfig]="loginBtnConfig" (loginBtnClickEmt)="onClickEventReceived($event)">
    </app-fybrbuttons>  -->
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center" class="loginbtn">
      <button mat-button matStepperNext>NEXT</button>
    </div>
    </mat-card>
  </div>
  