<div id="pgselectionextrastep" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
    <h3 class="stepTitle" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">PHYSIQUE GOALS
        <span class="stepTitlerequired">*required</span>
    </h3>
    <form [formGroup]="physiqueForm" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
    <mat-card class="steps-card" fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center">
        <mat-card-title>In terms of your physique, <br />what's your goal?<br /> reference.</mat-card-title>

        <mat-radio-group aria-label="Select an option" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center" formControlName="physiquechoice">
            <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="2%" fxLayoutAlign="center">                
                <label fxFlex="20" fxLayout="row wrap">
                    <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
                          <mat-radio-button #pgreference1 value="5"></mat-radio-button>
                          <span *ngIf="pgreference1.checked else pgreference1notchecked">
                              <img src="../../../../assets/burn fat-selected.svg">
                          </span>
                          <ng-template #pgreference1notchecked>
                              <span>
                                  <img src="../../../../assets/burn fat.svg">
                              </span>
                          </ng-template>
                          <p>Burn some fat</p>
                    </mat-card>
                  </label>
                  <label fxFlex="20" fxLayout="row wrap">
                    <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
                          <mat-radio-button #pgreference2 value="6"></mat-radio-button>
                          <span *ngIf="pgreference2.checked else pgreference2notchecked">
                              <img src="../../../../assets/stay perfect-selected.svg">
                          </span>
                          <ng-template #pgreference2notchecked>
                              <span>
                                  <img src="../../../../assets/stay perfect.svg">
                              </span>
                          </ng-template>
                          <p>Stay sexy</p>
                    </mat-card>
                  </label>
                  <label fxFlex="20" fxLayout="row wrap">
                    <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
                          <mat-radio-button #pgreference3 value="7"></mat-radio-button>
                          <span *ngIf="pgreference3.checked else pgreference3notchecked">
                              <img src="../../../../assets/tone up-selected.svg">
                          </span>
                          <ng-template #pgreference3notchecked>
                              <span>
                                  <img src="../../../../assets/tone up.svg">
                              </span>
                          </ng-template>
                    <p>tone up</p>                          
                    </mat-card>
                  </label>
                  <label fxFlex="20" fxLayout="row wrap">
                    <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
                          <mat-radio-button #pgreference4 value="8"></mat-radio-button>
                          <span *ngIf="pgreference4.checked else pgreference4notchecked">
                              <img src="../../../../assets/strength-selected.svg">
                          </span>
                          <ng-template #pgreference4notchecked>
                              <span>
                                  <img src="../../../../assets/strength.svg">
                              </span>
                          </ng-template>
                          <p>Build some muscle</p>
                    </mat-card>
                  </label>
            </div>
        </mat-radio-group>
        <p class="helptext">
            <mat-icon>help_outline</mat-icon>What do these mean?
        </p>
        <!-- <app-fybrbuttons mat-button matStepperNext [buttonConfig]="loginBtnConfig" (loginBtnClickEmt)="onClickEventReceived($event)">
    </app-fybrbuttons>  -->
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center" class="loginbtn">
            <button mat-button (click)="physiqueGoalSubmit()">NEXT</button>
        </div>
    </mat-card>
    </form>
</div>