<div id="activitiesstep" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
    <span class="backSteps" (click)="stepsToback()">back</span>
    <h3 class="stepTitle" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">Activities
        <span class="stepTitlerequired" (click)="skipTonext()">Skip</span>
    </h3>
    <mat-card class="steps-card" fxFlex="45" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center">
        <mat-card-title>Let's make this more "you".</mat-card-title>
        <mat-card-subtitle>What do you think of these activities? pick out as many or as few as you'd like.
        </mat-card-subtitle>
        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
            <div fxFlex="33" fxLayout="column" fxLayoutAlign="center">
                <span>
                    <img src="../../../../assets/tick-icon.svg">
                </span>
                <p>already do</p>
            </div>
            <div fxFlex="33" fxLayout="column" fxLayoutAlign="center">
                <span>
                    <img src="../../../../assets/thumbs up-icon.svg">
                </span>
                <p>want to try</p>
            </div>
            <div fxFlex="33" fxLayout="column" fxLayoutAlign="center">
                <span>
                    <img src="../../../../assets/thumbs down-icon.svg">
                </span>
                <p>not interested</p>
            </div>
        </div>
        <form [formGroup]="activitiesForm" fxFlex="100" fxLayout="row wrap" >
        <div fxFlex="100" fxLayout="row wrap" class="activitiesstrength">
            <ng-container *ngFor="let activity of allActivities; let j = index;">
                <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
                    <p fxFlex="100">{{activity.name}}</p>                    
                </div>
                <div fxFlex="100" fxLayoutGap="2%" fxLayout="row wrap">
                    <div fxFlex="48" fxLayout="row wrap" fxLayoutAlign="start center"
                        *ngFor="let workout of activity.workout; let i = index;">
                        <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                            <p fxFlex="45" fxLayout="row wrap" >{{workout?.name}}</p>                            
                            <div fxFlex="55" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="end">                               
                                <mat-radio-group fxFlex="100" fxLayout="row wrap">
                                    <!-- <label (click)="creatorLikeClicked(workout?.id, workout?.workouts_workoutTypeId, 1, i, event)"> -->
                                        <mat-radio-button  #bw1 [value]="j*100+i*3+1" 
                                        (change)="creatorLikeClicked(workout?.id, workout?.workouts_workoutTypeId, 1)">
                                            <span *ngIf="bw1.checked else bw1notcheck"> 
                                            <img src="../../../../assets/tick.svg">
                                        </span>
                                        <ng-template #bw1notcheck>
                                            <span>
                                                <img src="../../../../assets/tick copy.svg">
                                            </span>
                                        </ng-template>
                                        </mat-radio-button>                                        
                                    <!-- </label> -->
                                    <!-- <label (click)="creatorLikeClicked(workout?.id, workout?.workouts_workoutTypeId, 2, i,event)"> -->
                                        <mat-radio-button  #bw2 [value]="j*100+i*3+2" (change)="creatorLikeClicked(workout?.id, workout?.workouts_workoutTypeId, 2)">
                                            <span *ngIf="bw2.checked else bw2notcheck">
                                                <img src="../../../../assets/thumbs up.svg">
                                            </span>
                                            <ng-template #bw2notcheck>
                                                <span>
                                                    <img src="../../../../assets/thumbs up copy.svg">
                                                </span>
                                            </ng-template>
                                        </mat-radio-button>                                        
                                    <!-- </label>    -->
                                    <!-- <label (click)="creatorLikeClicked(workout?.id, workout?.workouts_workoutTypeId, 3, i, event)"> -->
                                        <mat-radio-button  #bw3 [value]="j*100+i*3+3" (change)="creatorLikeClicked(workout?.id, workout?.workouts_workoutTypeId, 3)">
                                            <span *ngIf="bw3.checked else bw3notcheck">
                                                <img src="../../../../assets/thumbs down.svg">
                                            </span>
                                            <ng-template #bw3notcheck>
                                                <span>
                                                    <img src="../../../../assets/thumbs down copy.svg">
                                                </span>
                                            </ng-template>
                                            
                                        </mat-radio-button>                                       
                                    <!-- </label> -->
                                </mat-radio-group>
                            </div>
                        </mat-card>
                    </div>
                    <!-- <div fxFlex="49" fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                    <p fxFlex="45" fxLayout="row wrap">circuit training</p>
                    <div fxFlex="55" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="end">
                    <label>
                        <mat-radio-button #bw1 value="1"></mat-radio-button>
                        <span *ngIf="bw1.checked else bw1notcheck">
                            <img src="../../../../assets/tick.svg">                        
                        </span>
                        <ng-template #bw1notcheck>
                            <span>
                                <img src="../../../../assets/tick copy.svg">
                            </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw2 value="2"></mat-radio-button>
                        <span *ngIf="bw2.checked else bw2notcheck">
                            <img src="../../../../assets/thumbs up.svg">                        
                        </span>
                        <ng-template #bw2notcheck>
                        <span>
                            <img src="../../../../assets/thumbs up copy.svg">                                
                        </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw3 value="3"></mat-radio-button>
                        <span *ngIf="bw3.checked else bw3notcheck">
                            <img src="../../../../assets/thumbs down.svg">                        
                        </span>
                        <ng-template #bw3notcheck>
                            <span>
                                <img src="../../../../assets/thumbs down copy.svg">                                
                            </span>
                        </ng-template>
                    </label>
                </div>
                </mat-card>
            </div> -->
                </div>
                <!-- <div fxFlex="100" fxLayoutGap="2%" fxLayout="row wrap">            
            <div fxFlex="49" fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                    <p fxFlex="45" fxLayout="row wrap">Cross fit</p>
                    <div fxFlex="55" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="end">
                    <label>
                        <mat-radio-button #bw1 value="1"></mat-radio-button>
                        <span *ngIf="bw1.checked else bw1notcheck">
                            <img src="../../../../assets/tick.svg">                        
                        </span>
                        <ng-template #bw1notcheck>
                            <span>
                                <img src="../../../../assets/tick copy.svg">
                            </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw2 value="2"></mat-radio-button>
                        <span *ngIf="bw2.checked else bw2notcheck">
                            <img src="../../../../assets/thumbs up.svg">                        
                        </span>
                        <ng-template #bw2notcheck>
                        <span>
                            <img src="../../../../assets/thumbs up copy.svg">                                
                        </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw3 value="3"></mat-radio-button>
                        <span *ngIf="bw3.checked else bw3notcheck">
                            <img src="../../../../assets/thumbs down.svg">                        
                        </span>
                        <ng-template #bw3notcheck>
                            <span>
                                <img src="../../../../assets/thumbs down copy.svg">                                
                            </span>
                        </ng-template>
                    </label>
                </div>
                </mat-card>
            </div>
            <div fxFlex="49" fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                    <p fxFlex="45" fxLayout="row wrap">pilates</p>
                    <div fxFlex="55" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="end">
                    <label>
                        <mat-radio-button #bw1 value="1"></mat-radio-button>
                        <span *ngIf="bw1.checked else bw1notcheck">
                            <img src="../../../../assets/tick.svg">                        
                        </span>
                        <ng-template #bw1notcheck>
                            <span>
                                <img src="../../../../assets/tick copy.svg">
                            </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw2 value="2"></mat-radio-button>
                        <span *ngIf="bw2.checked else bw2notcheck">
                            <img src="../../../../assets/thumbs up.svg">                        
                        </span>
                        <ng-template #bw2notcheck>
                        <span>
                            <img src="../../../../assets/thumbs up copy.svg">                                
                        </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw3 value="3"></mat-radio-button>
                        <span *ngIf="bw3.checked else bw3notcheck">
                            <img src="../../../../assets/thumbs down.svg">                        
                        </span>
                        <ng-template #bw3notcheck>
                            <span>
                                <img src="../../../../assets/thumbs down copy.svg">                                
                            </span>
                        </ng-template>
                    </label>
                </div>
                </mat-card>
            </div>
           </div>
           <div fxFlex="100" fxLayoutGap="2%" fxLayout="row wrap">            
            <div fxFlex="49" fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                    <p fxFlex="45" fxLayout="row wrap">Weight training</p>
                    <div fxFlex="55" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="end">
                    <label>
                        <mat-radio-button #bw1 value="1"></mat-radio-button>
                        <span *ngIf="bw1.checked else bw1notcheck">
                            <img src="../../../../assets/tick.svg">                        
                        </span>
                        <ng-template #bw1notcheck>
                            <span>
                                <img src="../../../../assets/tick copy.svg">
                            </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw2 value="2"></mat-radio-button>
                        <span *ngIf="bw2.checked else bw2notcheck">
                            <img src="../../../../assets/thumbs up.svg">                        
                        </span>
                        <ng-template #bw2notcheck>
                        <span>
                            <img src="../../../../assets/thumbs up copy.svg">                                
                        </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw3 value="3"></mat-radio-button>
                        <span *ngIf="bw3.checked else bw3notcheck">
                            <img src="../../../../assets/thumbs down.svg">                        
                        </span>
                        <ng-template #bw3notcheck>
                            <span>
                                <img src="../../../../assets/thumbs down copy.svg">                                
                            </span>
                        </ng-template>
                    </label>
                </div>
                </mat-card>
            </div>
            
           </div> -->
            </ng-container>
        </div>

        <!-- <div fxFlex="100" fxLayout="row wrap" class="activitiesstrength">
            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
                <p fxFlex="100">Cardio</p>
            </div>
            <div fxFlex="100" fxLayoutGap="2%" fxLayout="row wrap">            
            <div fxFlex="49" fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                    <p fxFlex="45" fxLayout="row wrap">boxing / martial arts</p>
                    <div fxFlex="55" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="end">
                    <label>
                        <mat-radio-button #bw1 value="1"></mat-radio-button>
                        <span *ngIf="bw1.checked else bw1notcheck">
                            <img src="../../../../assets/tick.svg">                        
                        </span>
                        <ng-template #bw1notcheck>
                            <span>
                                <img src="../../../../assets/tick copy.svg">
                            </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw2 value="2"></mat-radio-button>
                        <span *ngIf="bw2.checked else bw2notcheck">
                            <img src="../../../../assets/thumbs up.svg">                        
                        </span>
                        <ng-template #bw2notcheck>
                        <span>
                            <img src="../../../../assets/thumbs up copy.svg">                                
                        </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw3 value="3"></mat-radio-button>
                        <span *ngIf="bw3.checked else bw3notcheck">
                            <img src="../../../../assets/thumbs down.svg">                        
                        </span>
                        <ng-template #bw3notcheck>
                            <span>
                                <img src="../../../../assets/thumbs down copy.svg">                                
                            </span>
                        </ng-template>
                    </label>
                </div>
                </mat-card>
            </div>
            <div fxFlex="49" fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                    <p fxFlex="45" fxLayout="row wrap">HIIT</p>
                    <div fxFlex="55" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="end">
                    <label>
                        <mat-radio-button #bw1 value="1"></mat-radio-button>
                        <span *ngIf="bw1.checked else bw1notcheck">
                            <img src="../../../../assets/tick.svg">                        
                        </span>
                        <ng-template #bw1notcheck>
                            <span>
                                <img src="../../../../assets/tick copy.svg">
                            </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw2 value="2"></mat-radio-button>
                        <span *ngIf="bw2.checked else bw2notcheck">
                            <img src="../../../../assets/thumbs up.svg">                        
                        </span>
                        <ng-template #bw2notcheck>
                        <span>
                            <img src="../../../../assets/thumbs up copy.svg">                                
                        </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw3 value="3"></mat-radio-button>
                        <span *ngIf="bw3.checked else bw3notcheck">
                            <img src="../../../../assets/thumbs down.svg">                        
                        </span>
                        <ng-template #bw3notcheck>
                            <span>
                                <img src="../../../../assets/thumbs down copy.svg">                                
                            </span>
                        </ng-template>
                    </label>
                </div>
                </mat-card>
            </div>
           </div>
           <div fxFlex="100" fxLayoutGap="2%" fxLayout="row wrap">            
            <div fxFlex="49" fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                    <p fxFlex="45" fxLayout="row wrap">spinning</p>
                    <div fxFlex="55" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="end">
                    <label>
                        <mat-radio-button #bw1 value="1"></mat-radio-button>
                        <span *ngIf="bw1.checked else bw1notcheck">
                            <img src="../../../../assets/tick.svg">                        
                        </span>
                        <ng-template #bw1notcheck>
                            <span>
                                <img src="../../../../assets/tick copy.svg">
                            </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw2 value="2"></mat-radio-button>
                        <span *ngIf="bw2.checked else bw2notcheck">
                            <img src="../../../../assets/thumbs up.svg">                        
                        </span>
                        <ng-template #bw2notcheck>
                        <span>
                            <img src="../../../../assets/thumbs up copy.svg">                                
                        </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw3 value="3"></mat-radio-button>
                        <span *ngIf="bw3.checked else bw3notcheck">
                            <img src="../../../../assets/thumbs down.svg">                        
                        </span>
                        <ng-template #bw3notcheck>
                            <span>
                                <img src="../../../../assets/thumbs down copy.svg">                                
                            </span>
                        </ng-template>
                    </label>
                </div>
                </mat-card>
            </div>
            <div fxFlex="49" fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                    <p fxFlex="45" fxLayout="row wrap">treadmill</p>
                    <div fxFlex="55" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="end">
                    <label>
                        <mat-radio-button #bw1 value="1"></mat-radio-button>
                        <span *ngIf="bw1.checked else bw1notcheck">
                            <img src="../../../../assets/tick.svg">                        
                        </span>
                        <ng-template #bw1notcheck>
                            <span>
                                <img src="../../../../assets/tick copy.svg">
                            </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw2 value="2"></mat-radio-button>
                        <span *ngIf="bw2.checked else bw2notcheck">
                            <img src="../../../../assets/thumbs up.svg">                        
                        </span>
                        <ng-template #bw2notcheck>
                        <span>
                            <img src="../../../../assets/thumbs up copy.svg">                                
                        </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw3 value="3"></mat-radio-button>
                        <span *ngIf="bw3.checked else bw3notcheck">
                            <img src="../../../../assets/thumbs down.svg">                        
                        </span>
                        <ng-template #bw3notcheck>
                            <span>
                                <img src="../../../../assets/thumbs down copy.svg">                                
                            </span>
                        </ng-template>
                    </label>
                </div>
                </mat-card>
            </div>
           </div>
           <div fxFlex="100" fxLayoutGap="2%" fxLayout="row wrap">            
            <div fxFlex="49" fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                    <p fxFlex="45" fxLayout="row wrap">Weight training</p>
                    <div fxFlex="55" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="end">
                    <label>
                        <mat-radio-button #bw1 value="1"></mat-radio-button>
                        <span *ngIf="bw1.checked else bw1notcheck">
                            <img src="../../../../assets/tick.svg">                        
                        </span>
                        <ng-template #bw1notcheck>
                            <span>
                                <img src="../../../../assets/tick copy.svg">
                            </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw2 value="2"></mat-radio-button>
                        <span *ngIf="bw2.checked else bw2notcheck">
                            <img src="../../../../assets/thumbs up.svg">                        
                        </span>
                        <ng-template #bw2notcheck>
                        <span>
                            <img src="../../../../assets/thumbs up copy.svg">                                
                        </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw3 value="3"></mat-radio-button>
                        <span *ngIf="bw3.checked else bw3notcheck">
                            <img src="../../../../assets/thumbs down.svg">                        
                        </span>
                        <ng-template #bw3notcheck>
                            <span>
                                <img src="../../../../assets/thumbs down copy.svg">                                
                            </span>
                        </ng-template>
                    </label>
                </div>
                </mat-card>
            </div>
            
           </div>
        </div>

        <div fxFlex="100" fxLayout="row wrap" class="activitiesstrength">
            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
                <p fxFlex="100">Flexibility</p>
            </div>
            <div fxFlex="100" fxLayoutGap="2%" fxLayout="row wrap">            
            <div fxFlex="49" fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                    <p fxFlex="45" fxLayout="row wrap">foam rolling</p>
                    <div fxFlex="55" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="end">
                    <label>
                        <mat-radio-button #bw1 value="1"></mat-radio-button>
                        <span *ngIf="bw1.checked else bw1notcheck">
                            <img src="../../../../assets/tick.svg">                        
                        </span>
                        <ng-template #bw1notcheck>
                            <span>
                                <img src="../../../../assets/tick copy.svg">
                            </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw2 value="2"></mat-radio-button>
                        <span *ngIf="bw2.checked else bw2notcheck">
                            <img src="../../../../assets/thumbs up.svg">                        
                        </span>
                        <ng-template #bw2notcheck>
                        <span>
                            <img src="../../../../assets/thumbs up copy.svg">                                
                        </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw3 value="3"></mat-radio-button>
                        <span *ngIf="bw3.checked else bw3notcheck">
                            <img src="../../../../assets/thumbs down.svg">                        
                        </span>
                        <ng-template #bw3notcheck>
                            <span>
                                <img src="../../../../assets/thumbs down copy.svg">                                
                            </span>
                        </ng-template>
                    </label>
                </div>
                </mat-card>
            </div>
            <div fxFlex="49" fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                    <p fxFlex="45" fxLayout="row wrap">stretching</p>
                    <div fxFlex="55" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="end">
                    <label>
                        <mat-radio-button #bw1 value="1"></mat-radio-button>
                        <span *ngIf="bw1.checked else bw1notcheck">
                            <img src="../../../../assets/tick.svg">                        
                        </span>
                        <ng-template #bw1notcheck>
                            <span>
                                <img src="../../../../assets/tick copy.svg">
                            </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw2 value="2"></mat-radio-button>
                        <span *ngIf="bw2.checked else bw2notcheck">
                            <img src="../../../../assets/thumbs up.svg">                        
                        </span>
                        <ng-template #bw2notcheck>
                        <span>
                            <img src="../../../../assets/thumbs up copy.svg">                                
                        </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw3 value="3"></mat-radio-button>
                        <span *ngIf="bw3.checked else bw3notcheck">
                            <img src="../../../../assets/thumbs down.svg">                        
                        </span>
                        <ng-template #bw3notcheck>
                            <span>
                                <img src="../../../../assets/thumbs down copy.svg">                                
                            </span>
                        </ng-template>
                    </label>
                </div>
                </mat-card>
            </div>
           </div>
           <div fxFlex="100" fxLayoutGap="2%" fxLayout="row wrap">            
            <div fxFlex="49" fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                    <p fxFlex="45" fxLayout="row wrap">yoga</p>
                    <div fxFlex="55" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="end">
                    <label>
                        <mat-radio-button #bw1 value="1"></mat-radio-button>
                        <span *ngIf="bw1.checked else bw1notcheck">
                            <img src="../../../../assets/tick.svg">                        
                        </span>
                        <ng-template #bw1notcheck>
                            <span>
                                <img src="../../../../assets/tick copy.svg">
                            </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw2 value="2"></mat-radio-button>
                        <span *ngIf="bw2.checked else bw2notcheck">
                            <img src="../../../../assets/thumbs up.svg">                        
                        </span>
                        <ng-template #bw2notcheck>
                        <span>
                            <img src="../../../../assets/thumbs up copy.svg">                                
                        </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw3 value="3"></mat-radio-button>
                        <span *ngIf="bw3.checked else bw3notcheck">
                            <img src="../../../../assets/thumbs down.svg">                        
                        </span>
                        <ng-template #bw3notcheck>
                            <span>
                                <img src="../../../../assets/thumbs down copy.svg">                                
                            </span>
                        </ng-template>
                    </label>
                </div>
                </mat-card>
            </div>
            <div fxFlex="49" fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                    <p fxFlex="45" fxLayout="row wrap">treadmill</p>
                    <div fxFlex="55" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="end">
                    <label>
                        <mat-radio-button #bw1 value="1"></mat-radio-button>
                        <span *ngIf="bw1.checked else bw1notcheck">
                            <img src="../../../../assets/tick.svg">                        
                        </span>
                        <ng-template #bw1notcheck>
                            <span>
                                <img src="../../../../assets/tick copy.svg">
                            </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw2 value="2"></mat-radio-button>
                        <span *ngIf="bw2.checked else bw2notcheck">
                            <img src="../../../../assets/thumbs up.svg">                        
                        </span>
                        <ng-template #bw2notcheck>
                        <span>
                            <img src="../../../../assets/thumbs up copy.svg">                                
                        </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw3 value="3"></mat-radio-button>
                        <span *ngIf="bw3.checked else bw3notcheck">
                            <img src="../../../../assets/thumbs down.svg">                        
                        </span>
                        <ng-template #bw3notcheck>
                            <span>
                                <img src="../../../../assets/thumbs down copy.svg">                                
                            </span>
                        </ng-template>
                    </label>
                </div>
                </mat-card>
            </div>
           </div>
           <div fxFlex="100" fxLayoutGap="2%" fxLayout="row wrap">            
            <div fxFlex="49" fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                    <p fxFlex="45" fxLayout="row wrap">Weight training</p>
                    <div fxFlex="55" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="end">
                    <label>
                        <mat-radio-button #bw1 value="1"></mat-radio-button>
                        <span *ngIf="bw1.checked else bw1notcheck">
                            <img src="../../../../assets/tick.svg">                        
                        </span>
                        <ng-template #bw1notcheck>
                            <span>
                                <img src="../../../../assets/tick copy.svg">
                            </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw2 value="2"></mat-radio-button>
                        <span *ngIf="bw2.checked else bw2notcheck">
                            <img src="../../../../assets/thumbs up.svg">                        
                        </span>
                        <ng-template #bw2notcheck>
                        <span>
                            <img src="../../../../assets/thumbs up copy.svg">                                
                        </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw3 value="3"></mat-radio-button>
                        <span *ngIf="bw3.checked else bw3notcheck">
                            <img src="../../../../assets/thumbs down.svg">                        
                        </span>
                        <ng-template #bw3notcheck>
                            <span>
                                <img src="../../../../assets/thumbs down copy.svg">                                
                            </span>
                        </ng-template>
                    </label>
                </div>
                </mat-card>
            </div>
            
           </div>
        </div>
        
        <div fxFlex="100" fxLayout="row wrap" class="activitiesstrength">
            <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center">
                <p fxFlex="100">Outdoor Activities</p>
            </div>
            <div fxFlex="100" fxLayoutGap="2%" fxLayout="row wrap">            
            <div fxFlex="49" fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                    <p fxFlex="45" fxLayout="row wrap">cycling</p>
                    <div fxFlex="55" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="end">
                    <label>
                        <mat-radio-button #bw1 value="1"></mat-radio-button>
                        <span *ngIf="bw1.checked else bw1notcheck">
                            <img src="../../../../assets/tick.svg">                        
                        </span>
                        <ng-template #bw1notcheck>
                            <span>
                                <img src="../../../../assets/tick copy.svg">
                            </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw2 value="2"></mat-radio-button>
                        <span *ngIf="bw2.checked else bw2notcheck">
                            <img src="../../../../assets/thumbs up.svg">                        
                        </span>
                        <ng-template #bw2notcheck>
                        <span>
                            <img src="../../../../assets/thumbs up copy.svg">                                
                        </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw3 value="3"></mat-radio-button>
                        <span *ngIf="bw3.checked else bw3notcheck">
                            <img src="../../../../assets/thumbs down.svg">                        
                        </span>
                        <ng-template #bw3notcheck>
                            <span>
                                <img src="../../../../assets/thumbs down copy.svg">                                
                            </span>
                        </ng-template>
                    </label>
                </div>
                </mat-card>
            </div>
            <div fxFlex="49" fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                    <p fxFlex="45" fxLayout="row wrap">running</p>
                    <div fxFlex="55" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="end">
                    <label>
                        <mat-radio-button #bw1 value="1"></mat-radio-button>
                        <span *ngIf="bw1.checked else bw1notcheck">
                            <img src="../../../../assets/tick.svg">                        
                        </span>
                        <ng-template #bw1notcheck>
                            <span>
                                <img src="../../../../assets/tick copy.svg">
                            </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw2 value="2"></mat-radio-button>
                        <span *ngIf="bw2.checked else bw2notcheck">
                            <img src="../../../../assets/thumbs up.svg">                        
                        </span>
                        <ng-template #bw2notcheck>
                        <span>
                            <img src="../../../../assets/thumbs up copy.svg">                                
                        </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw3 value="3"></mat-radio-button>
                        <span *ngIf="bw3.checked else bw3notcheck">
                            <img src="../../../../assets/thumbs down.svg">                        
                        </span>
                        <ng-template #bw3notcheck>
                            <span>
                                <img src="../../../../assets/thumbs down copy.svg">                                
                            </span>
                        </ng-template>
                    </label>
                </div>
                </mat-card>
            </div>
           </div>
           <div fxFlex="100" fxLayoutGap="2%" fxLayout="row wrap">            
            <div fxFlex="49" fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                    <p fxFlex="45" fxLayout="row wrap">swimming</p>
                    <div fxFlex="55" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="end">
                    <label>
                        <mat-radio-button #bw1 value="1"></mat-radio-button>
                        <span *ngIf="bw1.checked else bw1notcheck">
                            <img src="../../../../assets/tick.svg">                        
                        </span>
                        <ng-template #bw1notcheck>
                            <span>
                                <img src="../../../../assets/tick copy.svg">
                            </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw2 value="2"></mat-radio-button>
                        <span *ngIf="bw2.checked else bw2notcheck">
                            <img src="../../../../assets/thumbs up.svg">                        
                        </span>
                        <ng-template #bw2notcheck>
                        <span>
                            <img src="../../../../assets/thumbs up copy.svg">                                
                        </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw3 value="3"></mat-radio-button>
                        <span *ngIf="bw3.checked else bw3notcheck">
                            <img src="../../../../assets/thumbs down.svg">                        
                        </span>
                        <ng-template #bw3notcheck>
                            <span>
                                <img src="../../../../assets/thumbs down copy.svg">                                
                            </span>
                        </ng-template>
                    </label>
                </div>
                </mat-card>
            </div>
            <div fxFlex="49" fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                    <p fxFlex="45" fxLayout="row wrap">treadmill</p>
                    <div fxFlex="55" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="end">
                    <label>
                        <mat-radio-button #bw1 value="1"></mat-radio-button>
                        <span *ngIf="bw1.checked else bw1notcheck">
                            <img src="../../../../assets/tick.svg">                        
                        </span>
                        <ng-template #bw1notcheck>
                            <span>
                                <img src="../../../../assets/tick copy.svg">
                            </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw2 value="2"></mat-radio-button>
                        <span *ngIf="bw2.checked else bw2notcheck">
                            <img src="../../../../assets/thumbs up.svg">                        
                        </span>
                        <ng-template #bw2notcheck>
                        <span>
                            <img src="../../../../assets/thumbs up copy.svg">                                
                        </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw3 value="3"></mat-radio-button>
                        <span *ngIf="bw3.checked else bw3notcheck">
                            <img src="../../../../assets/thumbs down.svg">                        
                        </span>
                        <ng-template #bw3notcheck>
                            <span>
                                <img src="../../../../assets/thumbs down copy.svg">                                
                            </span>
                        </ng-template>
                    </label>
                </div>
                </mat-card>
            </div>
           </div>
           <div fxFlex="100" fxLayoutGap="2%" fxLayout="row wrap">            
            <div fxFlex="49" fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-card fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
                    <p fxFlex="45" fxLayout="row wrap">Weight training</p>
                    <div fxFlex="55" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="end">
                    <label>
                        <mat-radio-button #bw1 value="1"></mat-radio-button>
                        <span *ngIf="bw1.checked else bw1notcheck">
                            <img src="../../../../assets/tick.svg">                        
                        </span>
                        <ng-template #bw1notcheck>
                            <span>
                                <img src="../../../../assets/tick copy.svg">
                            </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw2 value="2"></mat-radio-button>
                        <span *ngIf="bw2.checked else bw2notcheck">
                            <img src="../../../../assets/thumbs up.svg">                        
                        </span>
                        <ng-template #bw2notcheck>
                        <span>
                            <img src="../../../../assets/thumbs up copy.svg">                                
                        </span>
                        </ng-template>
                    </label>
                    <label>
                        <mat-radio-button #bw3 value="3"></mat-radio-button>
                        <span *ngIf="bw3.checked else bw3notcheck">
                            <img src="../../../../assets/thumbs down.svg">                        
                        </span>
                        <ng-template #bw3notcheck>
                            <span>
                                <img src="../../../../assets/thumbs down copy.svg">                                
                            </span>
                        </ng-template>
                    </label>
                </div>
                </mat-card>
            </div>
            
           </div>
           <p fxFlex="100" fxLayoutALign="center">
            <mat-icon>help_outline</mat-icon>What do these mean?
        </p>
        </div> -->

        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center" class="loginbtn">
            <button mat-button (click)="activitySubmit()">NEXT</button>
        </div>
    </form>
    </mat-card>
</div>