#workoutstep{
    .steps-card{
        .mat-card-title,h3{
            font-weight: normal; 
            font-size: 18px;
            color:#000000cc; 
        }
        .mat-form-field {
            width: 270px;
          }
          .mat-button {
            width: 270px;
            background-color: #334d7e;
            color: #fff;
          }
      .loginbtn{
          p{
              color:#334d7e;
              text-decoration: underline;
          }
      }
      .slidercustom{       
        padding: 0 15px;
        margin-bottom: 100px;
        .ng5-slider-tick{
            //background: transparent;
        } 
      }  
    }
    .ng5-slider .ng5-slider-tick{
        // background: transparent !important;
       // left: -27px;
        // width: 65%;
    }
    .ng5-slider .ng5-slider-tick-value{
        opacity: 0;
    }
    .ng5-slider .ng5-slider-pointer.ng5-slider-active:after{
        background: transparent;
    }
    .ng5-slider .ng5-slider-pointer:after{
        background: transparent;
    }
    .ng5-slider {
        .ng5-slider-pointer {
          background: url('../../../../assets/dayselector-selected.svg');
          background-size: contain;
          background-repeat: no-repeat;

        }
    }
}