#basicselectionstep{
    .steps-card{
        .mat-card-title,h3{
            font-weight: normal; 
            font-size: 18px;
            color:#000000cc; 
        }
        .mat-form-field {
            width: 270px;
          }
          .mat-button {
            width: 270px;
            background-color: #334d7e;
            color: #fff;
          }
      .loginbtn{
          p{
              color:#334d7e;
              text-decoration: underline;
          }
      }    
    }
}